@media(max-width: 1440px) {
    h1.logo {
        font-size: 45px;
    }


    input.button {
        height: 3vh;
    }

}

@media(max-width: 1366px) {
    h1.logo {
        font-size: 50px;
    }

    input.smallInput {
        width: 23vw;
    }

    input.button {
        height: 3vh;
        width: 8vw;
    }
}

@media(max-width: 1024px) {
    h1.logo {
        font-size: 45px;
    }

    input.smallInput {
        width: 20vw;
    }

    input.button {
        height: 3vh;
        width: 8vw;
    }
}

@media(max-width: 823px) {
    h1.logo {
        font-size: 35px;
    }

    input.smallInput {
        width: 20vw;
        height: 7vh;
    }

    input.button {
        height: 6vh;
        width: 8vw;
    }

    ul {
        font-size: 20px;
    }
}



@media(max-width: 812px) {
    h1.logo {
        font-size: 30px;
    }

    input.smallInput {
        width: 20vw;
        height: 4vh;
    }

    input.button {
        width: 10vw;
        height: 5vh;
        font-size: 10px;
    }

    ul {
        font-size: 15px;
    }
}

@media(max-width: 768px) {
    h1.logo {
        font-size: 40px;
    }

    input.smallInput {
        width: 25vw;
        height: 3vh;
    }

    input.button {
        width: 10vw;
        height: 3vh;
        font-size: 14px;
    }

    ul {
        font-size: 25px;
    }

    div.flex {
        flex-wrap: wrap;
    }
}

@media(max-width: 736px) {
    input.smallInput {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    input.button {
        height: 6.5vh;
    }

    header {
        height: 250vh;
    }
}


@media(max-width: 667px) {
    h1.logo {
        font-size: 35px;
    }

    input.smallInput {
        width: 20vw;
        height: 3vh;
    }

    input.button {
        height: 7vh;
        width: 10vw;
    }

    ul {
        font-size: 15px;
    }
}

@media(max-width: 568px) {
    h1.logo {
        font-size: 25px;
    }

    input.smallInput {
        width: 25vw;
    }

    input.button {
        height: 5vh;
        font-size: 8px;
    }

    ul {
        font-size: 10px;
    }
}

@media(max-width: 414px) {

    input.smallInput {
        width: 30vw;
        height: 3vh;
    }

    div.info {
        margin-left: 10px;
    }

    header {
        height: 250vh;
    }

    input.button {
        width: 20vw;
        height: 3vh;
    }

    ul {
        font-size: 20px;
    }
}

@media(max-width: 375px) {
    h1.logo {
        font-size: 25px;
    }

    header {
        height: 200vh;
    }

    input.smallInput {
        width: 40vw;
        height: 1vh;
    }

    input.button {
        width: 20vw;
    }

    ul {
        font-size: 20px;
    }

    header {
        height: 250vh;
    }
}